*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
}
 main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
}
.qr-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
    background-color: hsl(0, 0%, 100%);
    width: 400px;
    height: 600px;
    padding: 10px;
    border-radius: 20px;
}
img{
    display: flex;
    height: 350px;
    padding: 10px;    
} 

.paragraph{
    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
    margin-left:40px;
    margin-right:40px;
    text-align: center;
}

.paragraph h3{
    font-size:25px;
    color: hsl(218, 44%, 22%);
}
.paragraph p{
    font-size:19px;
}
